/* COMMON */
body{
  color: #333;
  font-size: 16px;
  font-weight: 400;
  /* 줄의 행간높이 */
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}
/* 모든 이미지는 이제부터 인라인이 아니고 블럭요소로 만든 것 */
img{
  display: block;
}
a{
  text-decoration: none;
}

/* HEADER */
header{
  background-color: royalblue;
}
header .inner{
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  background-color: orange;
  position: relative;
}
header .logo{
  height: 75px;
  /* 부모요소 기준으로 배치하는 속성 / 또한 부모가 포지션 값이 있는지 확인 */
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: none;
}
header .sub-menu{

}
header .sub-menu ul.menu{
display: flex;
font-family: Arial, sans-serif;
}
header .sub-menu ul.menu li{
  position: relative;
}
/* 가상요소 선택자 내부 앞쪽에 어떠한 내용을 추가할 수 있음 // 인라인 요소임*/
header .sub-menu ul.menu li::before{
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color:#e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child:before{
  display: none;
}
header .sub-menu ul.menu li a{
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #656565;
}
header .sub-menu ul.menu li a:hover{
color: #000;
}

header .sub-menu .search{

}
header .sub-menu .search input{
  
}
header .sub-menu .search .material-icons{
  
}